

.footer_info {
    padding-top: 7px;
    color: white;
    text-align:center;
    font-size: large;
    font-weight: bold;
}

a {
    color: white;
}
  
a:hover {
    color: gray;
}

.footer {
    background-color: black;
    background-size: 1000px 100px;
    color: white;
    height: 5vh;
    position: relative;
    justify-content: center;
}

