.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;;
    top:0;
    background-color: white;
    z-index:100;
    width:100%;

}
/* Corresponds with logo image */
.header_icon{
    object-fit:contain;
    height: 40px;
    margin-left:-120px;
}

.header_right {
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 15vw;
    padding: 20px;
    margin-right: 80px;
}

.header_right[Button=varient]{
    margin-left: 20px;
    color: white;
    font-size: xx-small;
    background-color:black;
    padding-left: 30px;
    padding-right: 30px;
} 
