.Title{
    width:700px;
    display: flex;
    margin-top :5vh;
    margin: 0 auto;
    margin-left: 500px;
    text-align: center;
}

.tutorPost{
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    width:900px;
    height: 600px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 10px solid #042656;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(47, 103, 181);
    margin-top :1vh;
    color: rgb(220, 216, 216);
}

.tutorName{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 11px;
    color: rgb(255, 255, 255);

}

h3{
    margin-top: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 11px;
}

.LikeBox{
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.Like{
    background-color: #163c75;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    padding: 16px 24px;
    transition-duration: 0.3s;
    width: 150px;
    justify-content: center;
}

.Like:hover{
    background-color: white;
    color: #163c75;
    border: 2px solid #163c75;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    padding: 16px 24px;
}

.contactInfo, .feedback{
    width: 450px;
}

.Bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}