body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}

.div-instructions {
    text-align: center;
    color: #163c75;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.5;
    border-bottom: 2px groove #b5b4b1;
    padding-bottom: 10px;
}

.div-required {
    color: #163c75;
    font-weight: bold;
    font-size: 14px;
    display: inline;
    line-height: 1.5;
    padding-top: 50px;
}

.div-required:before {
    content: "* ";
    color: red;
    display: inline;
}

label {
    color: #163c75;
    font-weight: bold;
    font-size: 18px;
    display: inline;
    line-height: 1.5;
}

label:before{
    content: "* ";
    color: red;
    display: inline;
}

.div-phone-example{
    color: #163c75;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    display: inline;
}

/* Styling for inputs */
input {
    width: 100%;
    height: 56px;
    position: relative;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.3s all;
}

input:hover {
    background-color: white;
    border: 2px solid #163c75;
    border-radius: 4px;
    width: 100%;
    height: 56px;
}

input[type=text] {
    color: #163c75;
    font-size: 16px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

input[type=email] {
    color: #163c75;
    font-size: 16px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

input[type=username] {
    color: #163c75;
    font-size: 16px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}

input[type=password] {
    color: #163c75;
    font-size: 16px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}


/* Styling for submit button */
input[type=submit] {
    background-color: #163c75;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    padding: 16px 24px;
    transition-duration: 0.3s;
    width: 600px;
    margin: 20px auto;
    justify-content: center;
    display: flex;
}

input[type=submit]:hover{
    background-color: white;
    color: #163c75;
    border: 2px solid #163c75;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    padding: 16px 24px;
}

button {
    text-align: center;
}


