body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  margin-left: 120px;
  margin-right: 120px;
}

.title {
  color: #163c75;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
}

.introduction {
  color: #163c75;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  display: inline;
}

.required1 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  line-height: 1.5;
}

.required2 {
  color: #163c75;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  line-height: 1.5;
}

.general1 {
  color: #163c75;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.general2 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.general2 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.description {
  color: #163c75;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  display: inline;
}

.textfield {
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.3s all;
}
.textfield:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.textfield.focussed input {
  padding: 24px 16px 8px 16px;
}
.textfield.focussed input + label {
  top: 4px;
  opacity: 1;
  color: #28cc70;
}
.textfield.locked {
 pointer-events: none;
}
.textfield input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}
.textfield input::-webkit-input-placeholder {
  color: #646464;
}
.textfield input::-moz-placeholder {
  color: #646464;
}
.textfield input:-ms-input-placeholder {
  color: #646464;
}
.textfield input:-moz-placeholder {
  color: #646464;
}
.textfield input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #282828;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}
.textfield input + label.error {
 color: #ec392f;
}

.submit {
  background-color: #163c75;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  padding: 16px 24px;
  transition-duration: 0.3s;
}

.submit:hover {
  background-color: white;
  color: #163c75;
  border: 2px solid #163c75;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  padding: 16px 24px;
 }