body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  margin-left: 120px;
  margin-right: 120px;
}

.title {
  color: #163c75;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.5;
}

.introduction {
  color: #163c75;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  display: inline;
}

.required1 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  line-height: 1.5;
}

.required2 {
  color: #163c75;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  line-height: 1.5;
}

.general1 {
  color: #163c75;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.general2 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.general2 {
  color: #db0f0f;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  line-height: 1.5;
}

.description {
  color: #163c75;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  display: inline;
}